<!doctype html>

<html lang="en">
<head>
    {{ head }}
</head>
<body {{ body_class() }}>
<div class="expanded collapse row">
    <div class="shrink columns" id="left-bar">
        <div id="profile" class="text-center">
            <img src="{{ get_field('headshot', 'option').url }}" alt="{{ get_field('headshot', 'option').title }}" />
            <h2>{{ bloginfo('title') }}</h2>
            <h6>{{ bloginfo('description') }}</h6>
        </div>
        <div id="primary-nav">
            {{ primary_menu }}
        </div>
        <div id="social-nav">
            <ul class="vertical menu">
                <li>
                    <a href="https://twitter.com/{{ get_field("twitter", "option") }}">
                        <i class="fa fa-fw fa-twitter"></i> @{{ get_field("twitter", "option") }}
                    </a>
                </li>
                <li>
                    <a href="mailto:{{ get_field("email", "option") }}">
                        <i class="fa fa-fw fa-envelope"></i> {{ get_field("email", "option") }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="columns" id="center-bar">
        <header class="hero">
            <img src="{{ get_field("header", "option").sizes.hero }}" alt="{{ get_field("header", "option").title }}" />
        </header>
        <section class="posts-teaser">
            <div class="row">
                <div class="small-12 columns">
                    <h2>Blog</h2>
                </div>
            </div>
            {% for post in posts %}
                <div class="post-teaser">
                    <div class="row">
                        <div class="small-12 columns">
                            <h3>{{ post.title }}</h3>
                            {{ post.excerpt }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
        <footer class="contact">
            <div class="row align-center">
                <div class="small-12 medium-10 large-8 columns">
                    <h2>Contact</h2>
                    {{ contact_form }}
                </div>
            </div>
        </footer>
        <footer class="copyright">
            <div class="row">
                <div class="small-12 columns">
                    {{ footer_menu }}
                </div>
                <div class="small-12 columns">
                    2017 All Rights Reserved - Developed by <a href="https://robert-parker.me" target="_blank">Robert Parker</a>
                </div>
            </div>
        </footer>
    </div>
</div>
    {{ foot }}
</body>
</html>