<!doctype html>

<html lang="en">
<head>
    {{ head }}
</head>
<body {{ body_class() }}>
<div class="expanded collapse row">
    <div class="shrink columns" id="left-bar">
        <div id="profile" class="text-center">
            <img src="{{ get_field('headshot', 'option').url }}" alt="{{ get_field('headshot', 'option').title }}" />
            <h2>{{ bloginfo('title') }}</h2>
            <h6>{{ bloginfo('description') }}</h6>
        </div>
        <div id="primary-nav">
            {{ primary_menu }}
        </div>
        <div id="social-nav">
            <ul class="vertical menu">
                <li>
                    <a href="https://twitter.com/{{ get_field("twitter", "option") }}">
                        <i class="fa fa-fw fa-twitter"></i> @{{ get_field("twitter", "option") }}
                    </a>
                </li>
                <li>
                    <a href="mailto:{{ get_field("email", "option") }}">
                        <i class="fa fa-fw fa-envelope"></i> {{ get_field("email", "option") }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="columns" id="center-bar">
    </div>
</div>
    {{ foot }}
</body>
</html>